@use '/src/assets/globalStyles/mixins' as *;
@use '/src/assets/globalStyles/variables' as *;

.Parfumes {
  display: grid;
  @include adaptive-value('margin-bottom', 80, 50, 0);

  .perfume {
    color: $color;
    margin-bottom: 20px;

    .image {
      width: 100%;
      object-fit: contain;
    }

    .body {
      font-family: 'Century Gothic', sans-serif;
      padding: 5px 15px;
      margin-bottom: 15px;
        @include adaptive-value('line-height', 17, 15, 0);

      .brand {
        font-weight: 700;
      }
      .productName {
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        -ms-line-clamp: 2;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        display: -webkit-box;
        display: inline;
        word-wrap: break-word;
        -webkit-box-orient: vertical;
        box-orient: vertical;
      }
      .concentration {
        padding-top: 3px;
        @include adaptive-value('font-size', 12, 10, 0);
      }
    }
  }
}