@use "../../assets/globalStyles/mixins" as *;
@use "../../assets/globalStyles/variables" as *;

.App {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: "Century Gothic", sans-serif;
  @include adaptive-value('font-size', 15, 12, 0);
}

main {
  flex: 1 1 auto;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: 100vh;
  @include adaptive-value('margin-top', 80, 50, 0);
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 13px;
}

/*---Common-styles----------------*/
.logo {
  color: $color;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  @include adaptive-value("font-size", 20, 17, 0);
  letter-spacing: .08rem;
  text-transform: uppercase;
  p:last-child {
    @include adaptive-value("font-size", 12, 10, 0);
  }
  p span {
    @include adaptive-value("font-size", 16, 14, 0);
  }
}

.error {
  color: red;
  padding: 1rem;
  font-family: Arial, serif;
  text-align: center;
}

.toCatalog {
  white-space:nowrap;
  padding: 20px 40px;
  font-weight: 600;
  color: $color2;
  background-color: $color;
  @include adaptive-value("font-size", 14, 12, 0);
  letter-spacing: 0.12em;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  &:hover {
    background: $buttonBgColorHover;
  }
  &:active {
    background: $buttonBgColorActive;
  }
}


img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}