@use '../../assets/globalStyles/mixins' as *;
@use '../../assets/globalStyles/variables' as *;

.Catalog {
  @include adaptive-value('margin-top', 25, 17, 0);
  .header {
    position: fixed;
    z-index: 9;
    a {
      padding: 10px 18px;
      @include adaptive-value('font-size', 14, 10, 0);
      background-color: rgb(229, 229, 229);
      color: $color;
    }
    .active {
      background-color: $color;
      color: $color2;
    }
  }
  .perfumes {
    @include adaptive-value('padding-top', 60, 40, 0);
  }
}

@media (max-width: 500px) {
  .Catalog {
    .header {
      a {
        padding: 11px 15px;
      }
    }
  }
}
