@use "../../assets/globalStyles/mixins" as *;
@use "../../assets/globalStyles/variables" as *;

.Hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include adaptive-value('margin-top', 40, 30, 0);
  margin-bottom: 20px;
  height: 70vh;
  min-height: 400px;
  .leftSide {
    width: 80%;
    position: absolute;
    left: 25px;
    h2 {
      color: $color2;
      font-weight: 700;
      @include adaptive-value("font-size", 35, 23, 0);
      line-height: 153.2%;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      margin-bottom: 45px;
    }
  }
  .rightSide {
    filter: brightness(70%);
    z-index: -1;
    position: absolute;
    min-height: 400px;
    height: 100%;
    width: 110%;
    background: linear-gradient(0deg, rgba(148, 148, 148, 0.2), rgba(148, 148, 148, 0.2)), #FFFFFF;
    img {
      object-fit: cover;
    }
  }
}

.AboutUs {
  color: $color;
  font-family: 'Century Gothic', sans-serif;
  margin-bottom: 60px;
  h2 {
    margin: 45px 0 10px;
    text-align: center;
  }

  .blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .block {
      text-align: center;
      max-height: fit-content;
      width: 300px;
      margin: 10px;
      border: 1px solid $color;
      padding:0 5px 15px;

      .title {
        margin: 15px 0;
        font-weight: 600;
        @include adaptive-value('font-size', 17, 14, 0);
        line-height: 153.2%;
        letter-spacing: 0.12em;
        text-transform: uppercase;
      }
      .about {
        font-weight: 400;
        @include adaptive-value('font-size', 14, 10, 0);
        line-height: 153.2%;
        text-align: center;
        letter-spacing: 0.05em;
      }
    }
  }
}