@use '../../assets/globalStyles/mixins' as *;
@use '../../assets/globalStyles/variables' as *;

h2 {
  margin: 10px 0;
}
.Form {
  p {
    margin-bottom: 35px;

    label {
      opacity: .7;
    }
    input {
      font-weight: bold;
      padding: 10px;
      border: 1px solid;
      display: block;
      width: 100%;
    }
  }
  button {
    width: 100%;
    margin-bottom: 20px;
  }

  .error {
    margin-top: 5px;
    position: absolute;
    font-weight: 600;
    color: rgba(255, 48, 48, 0.89)
  }
}

.SuccessPopup {
  height: 80vh;
  text-align: center;
  margin-top: 20vh;
  h3 {
    margin-bottom: 5px;
  }
  a {
    margin-top: 40px;
    display: inline-block;
  }
}