@use "../../assets/globalStyles/mixins" as *;
@use "../../assets/globalStyles/variables" as *;

header {
  padding: 0 10px;
  position: fixed;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  left: 0;
  right: 0;
  .headerRow {
    max-width: 1400px;
    margin: 0 auto;
    @include adaptive-value('height', 80, 50, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav {
    display: flex;
    a {
      @include adaptive-value("font-size", 20, 16, 0);
      color: $color;
      @include adaptive-value("padding", 15, 5, 0);
      transition: all .3s ease-in-out;
    }
      .active {
        text-decoration: 2px underline;
      }
  }

  .rightSideBtns {
    display: flex;
    .cart {
      position: relative;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Century Gothic", serif;
        @include adaptive-value("height", 25, 18, 0);
        @include adaptive-value("width", 25, 18, 0);
        @include adaptive-value("font-size", 14, 10, 0);
        background-color: $buttonBgColor;
        border-radius: 50%;
        color: $color2;
        left: -2px;
        position: absolute;
      }
    }
    .search {
      cursor: pointer;
      position: relative;
      .searchRequests {
        position: absolute;
        width: 300px;
        top: 60px;
        right: 0;
        a {
          display: block;
          @include adaptive-value("font-size", 18,14, 0);
          color: $color;
          padding: 10px 5px;
          border: 1px solid $color;
          background: $color2;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          i {
            @include adaptive-value("font-size", 14, 12, 0);
          }
        }
        input {
          @include adaptive-value("font-size", 22, 16, 0);
          z-index: 2;
          padding: 0 5px;
          width: 100%;
          @include adaptive-value("height", 38, 32, 0);
          border: 2px solid $color;
          margin-bottom: 15px;
        }
      }
    }
    div img,
    a img {
      @include adaptive-value("height", 30, 20, 0);
      @include adaptive-value("height", 30, 20, 0);
      margin: 8px;
      box-sizing:content-box;
      opacity: .6;
      transition: all .3s ease-in-out;
      &:hover {
        opacity: 1;
      }
      &:active {
        opacity: .9;
      }
    }
  }
}
